body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.card {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
    margin-bottom: 20px;
}

#dynamicQuestions .btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

#dynamicQuestions input[type="checkbox"] {
    margin-right: 10px;
}

#dynamicQuestions label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#summaryContent {
    white-space: pre-wrap;
}

#summaryContent .highlight {
	color: red;
}